.Image {
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.Image .Trash {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  opacity: 0;
  padding: 1.5rem;
  pointer-events: none;
  transition: opacity 0.4s ease;
}

.Image svg {
  width: 30px;
  fill: #eeeeee;
}

.Image:hover .Trash {
  opacity: 1;
}
