.Image {
  border: 0;
  border-radius: 4px;
  background-color: transparent;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}

.Image svg {
  pointer-events: none;
  transition: opacity 0.4s ease;
  opacity: 0;
  width: 30px;
  fill: #ff666e;
}

.Image:hover svg {
  opacity: 1;
}
