html,
body,
ul,
li,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
}

.Main {
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(30, 188, 237, 1) 0%,
    rgba(85, 208, 218, 1) 100%
  );
  display: flex;
  flex: 1;
  padding: 10rem 5rem;
}
