html,
body,
ul,
li,
textarea,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

ul {
  list-style: none;
}

button,
input,
textarea {
  margin: 0;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

img {
  height: auto;
  max-width: 100%;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  background: linear-gradient(to bottom, rgba(30, 188, 237, 1) 0%, rgba(85, 208, 218, 1) 100%);
  font-family: 'Lato', sans-serif;
  display: flex;
  min-height: 100%;
}

.Main {
  align-items: center;
  display: flex;
  flex: 1;
}